p, body, li
{
	font-family: Constantia, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	font-size: 1.8em;
	line-height: 1.4;
}

h1,h2,h3,h4
{
	font-family: Candara, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


code
{
	color: #333333;
	font-family: Consolas, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1.4em;
}

pre code
{
    font-size: 1.4em;
}

/* http://www.sitepoint.com/eight-definitive-font-stacks/  */


.archiveMonth {
	margin-top: 10px;
	border-top: 1px solid #eee;
	padding-top: 5px;
	}

.postIndexItem { margin-top:10px; }
.postIndexItem .date { font-size: 12px }
.postIndexItem .title a { font-size: 16px; font-weight:bold }
.postIndexItem .description { color: #444;  }
.postIndexItem .categories { color: #444;  font-style: italic; }

.sidebar { color: #999999;}

.sidebar h6 {
	 margin-top: 20px;
	 margin-bottom: 5px;
	 font-size: 14px;
	 font-weight: bold;
	 text-transform: uppercase;
 }


.subtitle { font-size: 18px; color: #999999; margin: 4px 0 4px 0; line-height: 20px}

.postdate { font-size: 18px; color: #999999; margin: 4px 0 4px 0; line-height: 20px}

.post-footer { margin-top:50px; margin-bottom:20px;  }

.footer { margin-top:50px; color: #999999 }

.footer, .footer p, .footer li { font-size: 12px; color: #999999 }

.extraMarginTop { margin-top:20px }

.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.alignoff {
	clear: both;
}


#twitterMenu{
    background-image: url('/assets/img/Twitter_logo_white_25x20.png');
    background-repeat:no-repeat;
    background-position:center;
    height: 16px;
    width: 20px;
}

#twitterMenu:hover {
   background-image: url('/assets/img/Twitter_logo_blue_25x20.png');
}

figure {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

/* to fix error in Rouge, fsharp.rb*/
/* code span {
    white-space: normal;
} */



h2,h3,h4,h5,h6
{

	a{
		padding-left: 5px;
		&:hover{ text-decoration: none;}
	}
}

h1{
	font-size: 2em;
	font-weight: bold;
	margin: 0px;
}

h2{
	font-size: 28px;
	font-weight: bold;
}

h3{
	font-size: 20px;
	font-weight: bold;
}


container img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.gsc-input-box {
	height: 35px !important;
}

.gsc-search-button {
	height: 30px !important;
	width: auto !important;
}

/* 60px to make the container go all the way to the bottom of the topbar */


body
{
	padding-top: 60px;
}

.whyuse h2 {
	margin-top: 0px;
}

.video h2 {
	margin-top: 0px;
}

img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

media img {
	max-width: none;
}

.chroma .sd { color: #408080; font-style: italic }
.chroma .c1 { color: #408080; font-style: italic }

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-error {
    color: #8f3155;
    background-color: #f7d9de;
    border-color: #f1bcc7;
}