{{ define "main" }}
<article class="gdoc-markdown gdoc-post" template="_default/series_index">
{{ $page := .}}

<header class="gdoc-post__header">
<h1 class="gdoc-post__title">{{ .Title  }}</h1>
</header>

<div>
{{ .Content }}
</div>

{{ $pages := where (.Site.Pages.ByDate.Reverse) ".Params.layout" "==" "post" }}

		{{ range $pages.GroupByDate "Jan 2006" }}
		<div class="row">
			<div class="col-md-2">
				<h2 class="archiveMonth">{{ .Key }}</h2>
			</div>
			<ul class="col-md-7">
			{{ range .Pages }}
			<li class="postIndexItem">
				<div class="title"><a href="{{ .RelPermalink }}" title="{{ .Title  }}">{{ .Title }}</a></div>
				<div class="description">{{ .Description}}</div>
				<!-- <div class="date">{{ .Date.Format "02 Jan 2006" }}</div> -->
            </li>
			{{ end }}
        </ul>
		</div>
		{{ end }}

    </div>

</article>
{{ end }}
