{{ define "main" }}
    <article class="gdoc-markdown gdoc-post" template="_default/page">
    {{ if .Params.hideHeader }}
    {{ else }}
        <header class="gdoc-post__header">
            {{ partial "series_partof.html" . }}
            <h1 class="gdoc-post__title">{{ .Title }}</h1>
            <div class="flex flex-even">
                {{ if .Description }}
                <div class="subtitle ">{{ .Description  }}</div>
                {{ end }}
                <div class="" style="margin-left: auto"> {{ partial "twitter_tweet.html" . }}</div>
            </div>
        </header>
    {{ end  }}

    <div>
        {{ .Content }}
    </div>

	<div class="post-footer">
        {{ if .Params.hidePostedBy }}
        {{ else }}
            <hr>
            <div class="well">
                <div>
                    Written by <a href="/about/">ScottW</a>.
                    <a href="https://github.com/swlaschin/fsharpforfunandprofit.com">Found a typo or error?</a>
                    Follow me on <a href="https://goo.gl/a1j5CS"><img src="/assets/img/Twitter_logo_blue_25x20.png" style="vertical-align: middle;"> Twitter</a>.
                </div>
            </div >
        {{ end  }}
    </div >

    {{ partial "series_toc.html" . }}

    {{ if .Params.hasComments }}
	{{ partial "disqus.html" . }}
	{{ end  }}
    </article>
{{ end }}







