{{ define "main" }}
<article class="gdoc-markdown gdoc-post" template="_default/series_index">
{{ $page := .}}

<header class="gdoc-post__header">
<h1 class="gdoc-post__title">The "{{ $page.Params.seriesIndexId }}" series</h1>
</header>

<div>
{{ .Content }}
</div>

<ul class="postIndex">
{{ range where (site.Pages.ByParam "seriesOrder") ".Params.seriesid" "==" $page.Params.seriesIndexId }}
<li class="postIndexItem">
    <div class="title"><a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Params.seriesOrder }}. {{ .Title }}</a></div>
    <div class="description">{{ .Description}}</div>
</li>
{{ end }}
</ul>

</article>
{{ end }}

