{{ define "main" }}
<div class="container" template="SECTION">
    <div class="row">

    <div class="col-md-9">

    {{ partial "series_toc_header.html" . }}

    {{ if isset .Params "hideHeader" }}
    {{ else }}
        <div class="page-header">
            <h1>{{ .Title  }}</h1>
            {{ if .Description }}
            <div class="subtitle ">{{ .Description  }}</div>
            {{ end }}
            <div class="postdate alignleft">{{  dateFormat "Monday, Jan 2, 2006" .Date }}</div>
            <div class="alignright"> {{ partial "twitter_tweet.html" }}</div>
            <div class="alignoff"></div>
        </div>
    {{ end  }}

    {{ .Content }}


        <div class="post-footer">
            <hr>

            {{ partial "series_prev_next.html" . }}

            <div>
                <br>
                <div style="float:left">
                    Written by <a href="/about/">ScottW</a>.
                    <a href="https://github.com/swlaschin/fsharpforfunandprofit.com">Found a typo or error?</a>
                    Follow me on <a href="https://goo.gl/a1j5CS"><img src="/assets/img/Twitter_logo_blue_25x20.png" style="vertical-align: middle;"> Twitter</a>.
                </div>
                {{ if lt .Params.categories.size 0 }}<div class="categories" style="float:right">Filed under: {{ .Params.categories  }}</div>{{ end }}
            </div>
            <div style="clear: both;"></div>
        </div >

        {{ partial "series_toc.html" . }}

        {{ partial "disqus.html" . }}
    </div>  <!-- content -->


    <div class="col-md-3 sidebar">
    {{ partial "sidebar.html" . }}
    </div> <!-- sidebar -->



    </div> <!-- row -->
    </div> <!-- container  -->

{{ end }}

