{{ $page := .}}
{{ if $page.Params.seriesId }}
<div class="well">
    <a name="series-toc"></a>
    <h3>The "{{ $page.Params.seriesId  }}" series</h3>
{{ range $otherpage := where (site.Pages.ByParam "seriesOrder") ".Params.seriesid" "==" $page.Params.seriesid }}
        {{ if eq $page.Params.seriesOrder $otherpage.Params.seriesOrder }}
        <div>{{ $otherpage.Params.seriesOrder }}. {{ $otherpage.Title  }}</div>
        {{ else if $otherpage.Params.seriesOrder }}
        <div><a href="{{ $otherpage.RelPermalink }}" title="{{ $otherpage.Title }}">{{ $otherpage.Params.seriesOrder }}. {{ $otherpage.Title }}</a></div>
        {{ else }}
        {{ end }}


{{ end }}

</div>
{{ end }}

