{{ $page := .}}
{{ if .Params.seriesId }}
<div class="series-prev-next">
<ul class="flex">
	<!-- all pages in same series -->
	{{ $seriesPages := where (site.Pages.ByParam "seriesOrder") ".Params.seriesid" "==" $page.Params.seriesid }}

	<!-- pages in series which are adjacent -->
	{{ $prevId := sub $page.Params.seriesOrder 1 }}
	{{ $prevPage := where $seriesPages ".Params.seriesorder" "==" $prevId }}
	{{ range $otherpage := $prevPage }}
	<li class="series-previous">
	<a href="{{ $otherpage.RelPermalink }}" title="{{ $otherpage.Title  }}">&larr; {{ $otherpage.Params.seriesOrder }}. {{ $otherpage.Title  }}</a>
	</li>
	{{ end }}

	{{ $nextId := add $page.Params.seriesOrder 1 }}
	{{ $nextPage := where $seriesPages ".Params.seriesorder" "==" $nextId }}
	{{ range $otherpage := $nextPage }}
	<li class="series-next">
	<a href="{{ $otherpage.RelPermalink }}" title="{{ $otherpage.Title  }}">{{ $otherpage.Params.seriesOrder }}. {{ $otherpage.Title  }} &rarr;</a>
	</li>
	{{ end }}

</ul>
</div>
{{ end }} <!-- end if .Params.seriesId -->

