---
layout: default
---

<div class="container">
<div class="row">
	
    <div class="col-md-9">

		<h1>{{ page.title | escape }}</h1>

		{% for entry in site.data.archives %}
		<div class="row">
		<div class="col-md-2">
			<h2 class="archiveMonth">{{ entry.monthName }} {{ entry.year }}</h2>
		</div>
		<div class="col-md-7">
		{% for post in entry.posts  %}
		<div class="postIndexItem">
			<div class="date">{{ post.date }}</div>
			<div class="title"><a href="{{ post.url }}" title="{{ page.title | escape }}">{{ post.title | escape }}</a></div>
			<div class="description">{{post.description}}</div>
		</div>	
		{% endfor %}
		</div>
		</div>
		
		{% endfor %} 

    </div>
    <div class="col-md-3 sidebar">
		{% include sidebar.inc %}
    </div>

	
</div>
</div>