---
layout: default
---

<div class="container">
<div class="row">

{% include series_toc_sidebar.inc %}

<div class="col-md-9">

{% unless page.hideHeader %}
	<div class="page-header">
		<h1>{{ page.title | escape }}</h1>
		{% if page.description %}
		<div class="subtitle alignleft">{{ page.description | escape }}</div>
		{% endif %}
		<div class="alignright"> {% include twitter_tweet.inc %}</div>
		<div class="alignoff"></div>
	</div>
{% endunless  %}
		
{{content}}

	<div class="post-footer">
{% unless page.hidePostedBy %}    
	<hr>
	<div class="well">
		<div>
			Written by <a href="/about/">ScottW</a>. 
			<a href="https://github.com/swlaschin/fsharpforfunandprofit.com">Found a typo or error?</a>
			Follow me on <a href="https://goo.gl/a1j5CS"><img src="/assets/img/Twitter_logo_blue_25x20.png" style="vertical-align: middle;"> Twitter</a>.
		</div>
	</div >
{% endunless  %}    
	</div >
	
	{% include series_toc.inc %}

	{% if page.hasComments %}
	{% include disqus.inc %}
	{% endif  %}
</div> <!-- content -->


<div class="col-md-3 sidebar">
{% include sidebar.inc %}
</div> <!-- sidebar -->

		
	
</div> <!-- row -->
</div> <!-- container -->
	