---
layout: default
---

<div class="container">
<div class="row">
	
<div class="col-md-9">

{% include series_toc_header.inc %}

{% unless page.hideHeader %}
	<div class="page-header">
		<h1>{{ page.title | escape }}</h1>
		{% if page.description %}
		<div class="subtitle ">{{ page.description | escape }}</div>
		{% endif %}
		<div class="postdate alignleft">{{ page.date | date_to_string }}</div>	
		<div class="alignright"> {% include twitter_tweet.inc %}</div>
		<div class="alignoff"></div>
	</div>
{% endunless  %}
	
	{{content}}

			
	<div class="post-footer">
		<hr>
		
		{% include series_prev_next.inc %}

		<div>
			<br>
			<div style="float:left">
				Written by <a href="/about/">ScottW</a>. 
				<a href="https://github.com/swlaschin/fsharpforfunandprofit.com">Found a typo or error?</a>
				Follow me on <a href="https://goo.gl/a1j5CS"><img src="/assets/img/Twitter_logo_blue_25x20.png" style="vertical-align: middle;"> Twitter</a>. 
			</div>
			{% if page.categories.size > 0 %}<div class="categories" style="float:right">Filed under: {{ page.categories | category_links }}</div>{% endif %}
		</div>
		<div style="clear: both;"></div>
	</div >
	
	{% include series_toc.inc %}
	
	{% include disqus.inc %}
</div>  <!-- content -->


<div class="col-md-3 sidebar">
{% include sidebar.inc %}
</div> <!-- sidebar -->

		
	
</div> <!-- row -->
</div> <!-- container  -->