---
layout: default
---

<div class="container">
<div class="row">

{% include series_toc_sidebar.inc %}

<div class="col-md-9">

{% unless page.hideHeader %}
	<div class="page-header">
	<h1>{{ page.title | escape }}</h1>
	{% if page.description %}
	<p class="subtitle">{{ page.description | escape }}</p>
	{% endif %}
	</div>
{% endunless  %}

	<div>
		<script>
			(function() {
				var cx = '005822461080256964871:ukp7bevhyrw';
				var gcse = document.createElement('script');
				gcse.type = 'text/javascript';
				gcse.async = true;
				gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(gcse, s);
			})();
		</script>
		<gcse:search></gcse:search>			
	</div>		

</div>


<div class="col-md-3 sidebar">
{% include sidebar.inc %}
</div>

		
	
</div>
</div>
	