---
layout: default
---

<div class="container">
<div class="row">

  
    <div class="col-md-9">
		<h1 class="category">The "{{page.seriesIndexId | escape }}" series</h1>

		{{content}}
		
        <div class="alignright"> {% include twitter_tweet.inc %}</div>
        <div class="alignoff"></div>

		<div class="postIndex">
		{% for post in site.data.series[page.seriesIndexId].posts %}
		<div class="postIndexItem">
			<div class="title"><a href="{{ post.url }}" title="{{ post.title | escape }}">{{ post.seriesOrder }}. {{ post.title | escape }}</a></div>
			<div class="description">{{post.description}}</div>
		</div>
		{% endfor %}		
		</div>

    </div>

	
	
	<div class="col-md-3 sidebar">
	{% include sidebar.inc %}
	</div>

		
	
</div>
</div>