<p>Buy it at</p>
<ul>
    <li><a href="https://www.amazon.com/dp/{{ .Get 0 }}/"><img title="US flag" src="/images/US-flag.gif"> Amazon US</a></li>
    <li><a href="https://www.amazon.co.uk/dp/{{ .Get 0 }}/"><img title="UK flag" src="/images/UK-flag.gif"> Amazon UK</a></li>
    <li><a href="https://www.amazon.de/dp/{{ .Get 0 }}/"><img title="DE flag" src="/images/DE-flag.gif"> Amazon DE</a></li>
    <li><a href="https://www.amazon.ca/dp/{{ .Get 0 }}/"><img title="CA flag" src="/images/CA-flag.gif"> Amazon CA</a></li>
</ul>