<iframe src="https://www.slideshare.net/slideshow/embed_code/key/{{ .Get 0 }}" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px 1px 0; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>

<div style="margin-bottom:5px">
<strong><a href="https://www.slideshare.net/ScottWlaschin/{{ .Get 1 }}" title="{{ .Get 2 }}" target="_blank">{{ .Get 2 }}</a> </strong> from <strong><a href="http://www.slideshare.net/ScottWlaschin" target="_blank">my slides on Slideshare</a></strong>
</div>